.idea/
.vscode/
.DS_Store

*.[oa]
*~
*.aux
*.log
*.idx
*.out
*.toc
*.synctex.gz
*.synctex(busy)
*.fdb_latexmk
*.fls
*.ilg
*.ind
_minted-*
*.bbl
*.bcf
*.blg
*.lof
*.lot
*.nlo
*.nls
*.run.xml
.~lock*
*.cb
*.cb2
